.green{
    color: #006633;
}

.mainLandingBody{
    padding-bottom: 80px;
    background-color: #3366FF;
}
.mainLandingBody h4{
    text-align: center;
    padding-top: 9px;
}

.sericeBox{
    background-color: #33FFCC;
    border-radius: 10px;
    text-align: center;
    padding: 4px 12px;
    color: #3366FF;
    font-family: "Poppins", sans-serif;
    min-height: 400px;
}

.sericeBox h3, .sericeBox h4{
    margin: 0px 5px;
    font-weight: 800;
}

.sericeBox h4{
    margin: 6px 0px;
}

.sericeBox h5{
    display: inline-block;
    margin: 0px 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-size: 1.4rem;
}
.sericeBox h6{
    margin: 0px;
    font-size: 1.1rem;
    font-weight: 800;
}

.sericeBox p{
    font-weight: 500;
    font-size: 0.9em;
    padding: 5px 0px 5px 6px;
    margin-bottom: 0px;
}

.sericeBox img{
    height: 70px;
    width: 80px;
    margin: 0px 5px;
}

